.demo__values {
  grid-area: values;
}

.demo__values-title {
  margin: 0;
}

.demo__table {
  border: 1px solid #333333;
  border-collapse: collapse;
  margin-top: 4px;
}

.demo__table-cell {
  border: 1px solid #333333;
  padding: 4px;
}

.demo__description {
  grid-area: description;
}

.demo__picker {
  width: 100%;
  min-height: 37px;
}

.demo__picker > .vue-picker__opener {
  min-height: 37px;
}

.demo__units {
  grid-area: units;
  display: grid;
  grid: auto / repeat(auto-fill, minmax(100px, 200px));
  gap: 20px;
}

.demo__unit {
  width: auto;
}

.demo__lbl {
  width: auto;
}

.demo__dropdown-custom {
  background: lightcyan;
  padding: 8px;
  overflow: auto;
  max-height: 100px;
}

.demo__dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 4px;
  border-radius: 50%;
  border: 1px solid blue;
  background: orange;
}

@media screen and (max-width: 376px) {
  .demo__units {
    grid: auto-flow auto / auto;
  }
}
